@model CodeKingdom.Models.IndexViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>
            Textbox with name
        </dd>
        <dt>E-mail:</dt>
        <dd>
            Textbox with email addr.
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Background:</dt>
        <dd>
            @Html.DropDownListFor(color => color.BackgroundColor,
                            new SelectList(Enum.GetValues(typeof(ConsoleColor))),
                            "Dark")
        </dd>
        <dt>Syntax highlighting:</dt>
        <dd>
            @Html.DropDownListFor(highlight => highlight.SyntaxHighlighting,
                            new SelectList(Enum.GetValues(typeof(ConsoleColor))),
                            "Monokio")
        </dd>
    </dl>
</div>
