@model IEnumerable<CodeKingdom.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class="btn btn-default"} )
</p>

<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Settings</th>
    </tr>
</thead>
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @if (item.Role == "Owner")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            }
        </td>
    </tr>
}
</table>
